.footer {
    background-color: #061E37;
    width: auto;
    height: 300px;
    display: block;
    justify-content: center;
    justify-content: space-between;
}

.footer__img__logo {
    width: 30px;
    height: 30px;
    height: auto;
    float: left;
}

.footer__logo {
    display: flex;
    margin-left: 50px;
}

.footer__text__logo {
    float: left;
    margin-left: 40px;
    margin-top: -15px;
}

.footer__title__logo {
    font-size: 20px;
    margin-left: 40px;
    margin-top: -10px;
}

.footer__navigation {
    display: flex;
    margin-top: 100px;
}

.footer__all__link {
    margin-right: 50px;
    margin-left: auto;
}

.footer__link {
    padding-left: 50px;
}

.footer__douw__all__link {
    margin-left: 50px;
    margin-right: auto;
}

.footer__down__link {
    color: #647382;
}

.footer__douw__all__link a+a::before {
    content: '*';
    /* Разделитель ссылок */
    padding: 0 7px;
}

.footer__navigation_2 {
    display: flex;
    margin-top: 30px;
}

.footer__douw__img {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    opacity: 0.5;
}

.footer__down__link__img {
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}