body {
    background-color: white;
}

.Service__all {
    text-align: center;
}

.Service__txt {
    margin-top: 60px;
}

.Service__txt__title {
    font-size: 40px;
    line-height: 0.1px;
}

.Service__txt__title__litle {
    font-size: 25px;
    opacity: 0.7;
    line-height: 0.1px;
    color: #B5C2C8;
}

.Service__txt__text {
    color: #B5C2C8;
}

.Service__images {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
}

.Service__img__title {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 60px;
    margin-left: 60px;
    line-height: 0.1px;
}

.Service__img__text {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 15px;
    color: #B7C4CB;
}

.Service__button {
    margin-top: 100px;
    width: 160px;
    height: 60px;
    background-color: #1DE9B6;
    color: white;
    transform: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.__Service__txt__title__ {
    font-size: 40px;
    font-weight: 500;
}

.__Service__txt__text__ {
    line-height: 25px;
    color: #B5C2C8;
}

.statistics__img {
    margin-top: 60px;
    margin-right: auto;
    margin-left: -50px;
    width: 300px;
    height: 200px;
}

.statistics__img__trending_up {
    width: 20px;
    height: 10px;
    margin-top: 15px;
    margin-left: 10px;
}

.statistics__txt__trending_up {
    width: 30px;
    height: 15px;
    margin-top: 8px;
    margin-left: 10px;
    font-weight: bold;
}

.statistics__text {
    margin-top: 70px;
    width: 400px;
    height: 50px;
    word-wrap: break-word;
    margin-right: 50px;
}

.statistics {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 280px;
    box-shadow: 5px 5px 15px 5px #F3F3F3;
    border-radius: 5px;
}

.INBOX,
.TEAM,
.SETTINGS,
.FEED {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 50px;
    box-shadow: 5px 5px 9px 5px #F3F3F3;
    border-radius: 5px;
}

.INBOX__img,
.TEAM__img,
.SETTINGS__img,
.FEED__img {
    width: 16px;
    height: 15px;
    float: left;
    margin: 15px 20px 10px 10px;
}

.INBOX__txt,
.TEAM__txt,
.SETTINGS__txt,
.FEED__txt {
    display: flex;
    font-weight: bold;
    float: left;
    margin-top: 10px;
}

.arrow__hider {
    display: flex;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-left: 750px;
}

.arrow {
    width: 12px;
    height: 7px;
    margin-top: 18px;
}

.arrow {
    transition: transform 0.5s ease-in-out;
}

.arrow_animate {
    transform: rotate(180deg);
}

#text__arrow_1,
#text__arrow_2,
#text__arrow_3,
#text__arrow_4 {
    font-size: 30px;
    margin-top: 50px;
}