.Service__banner {
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    color: white;
    font-size: 20px;
    line-height: 20px;
}

.Service__banner__skyblue {
    justify-content: center;
    display: flex;
    width: 25%;
    height: 150px;
    background-color: #80D8FF;
}

.Service__banner__blue {
    justify-content: center;
    display: flex;
    width: 25%;
    height: 150px;
    background-color: #82B1FF;
    text-align: center;
}

.Service__banner__violet {
    justify-content: center;
    display: flex;
    width: 25%;
    height: 150px;
    background-color: #B388FF;
    text-align: center;
}

.Service__banner__pink {
    justify-content: center;
    display: flex;
    width: 25%;
    height: 150px;
    text-align: center;
    background-color: #EA80FC;
}

.Service__banner__img {
    height: 60px;
    width: 60px;
    margin-top: 40px;
}

.txt__Service__banner__skyblue,
.txt__Service__banner__blue,
.txt__Service__banner__violet,
.txt__Service__banner__pink {
    margin-top: 50px;
    margin-left: 10px;
}