.contact_Us {
    margin-top: 100px;
}

.contact_Us__backround {
    width: auto;
    height: 650px;
    background-color: #FAFAFA;
}

.flex_box {
    display: flex;
    text-align: center;
    justify-content: center;
}

.contact_Us__title {
    font-size: 40px;
    font-weight: 400;
    color: black;
    margin-top: 30px;
}

.contact_Us__text {
    color: #1E334A;
    margin-bottom: 20px;
}

.all__input {
    text-align: center;
}

.input {
    margin-left: 30px;
    width: 250px;
    height: 45px;
    margin-top: 20px;
    border-radius: 5px;
    justify-content: space-between;
    border: solid 1px black;
    background-color: #FAFAFA;
    padding-left: 20px;
}

.input__massage {
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 5px;
    border: solid 1px black;
    background-color: #FAFAFA;
    width: 535px;
    height: 150px;
    padding-bottom: 100px;
    padding-left: 20px;
}

.contact_Us__button {
    margin-left: 250px;
    margin-top: 15px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1.5px solid white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    background-color: #1DE9B6;
}

.check_box {
    margin-top: 20px;
    width: 276;
    height: 13px;
    margin-left: 30px;
}