/*is the background of the scrollbar itself.. */

body::-webkit-scrollbar {
    width: 20px;
}


/* empty space under the scroll indicator */

body::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}


/* scroll indicator, draggable item */

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #17E2C3, #0EB5CC);
}
